@model ChangePasswordViewModel

<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header mb-5">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">text-Reader</div>
                <h1 class="display-4 text-white mb-4 animated slideInRight">Change Password</h1>
                <p class="text-white mb-4 animated slideInRight">
                    Welcome To Text-Reader You can Change Your Password
                </p>
                <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Change Password</a>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end">
                <img class="img-fluid" src="/assets/img/hero-img.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Audio Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="/assets/img/about-img.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="card">
                    <div class="card-body py-4 px-md-5">
                        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                            <h2 class="mb-4">ChangePassword</h2>
                        </div>
                        <form asp-action="ChangePassword" asp-controller="Account" method="post">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="CurrentPassword" type="password" class="form-control" id="currentpassword" placeholder="Enter Current Password">
                                        <label asp-for="CurrentPassword">Current Password</label>
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="NewPassword" type="password" class="form-control" id="newpassword" placeholder="Enter New Password">
                                        <label asp-for="NewPassword">New Password</label>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="confirmnewpassword" placeholder="Enter New Confirm Password">
                                        <label asp-for="ConfirmNewPassword">Confirm Password</label>
                                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-primary w-100 py-3" asp-controller="Home" asp-action="Index">Back</a>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Audio End-->

